body,html{font-size:62.5%;font-family: "微软雅黑","microsoft yahei";}
body{overflow: auto;}

/*begin:首页*/
.bodyBg{background-color: #edf0f3;}
.bodywrapper{background-color: #edf0f3;width: 100%;padding-top:4.5rem;padding-bottom: .1rem;}
.header_vali{border: 1px solid #d8d8d8;height:4rem;line-height: 3.7rem; width: 100%;text-align: center;color:#4a4a4a;font-size: 1.6rem;position:fixed;left: 0;top: 0;background-color: #fff;}
.header_vali_play.header_vali{border-bottom:none;}
.header_vali .back{position:absolute;left: 2rem;top:.8rem;width: 2rem;height: 2rem;}
.header_vali span{font-size: 1.6rem;}
a.reviewBtn{position: absolute;right: 1rem;top:0;font-size: 1.4rem;color: #7024D6;}
.section_con{background-color: #edf0f3;text-align:center;}
.sectionTitle01{height: 2.4rem;padding: 1rem 0 .7rem 0;}
.sectionTitle01 .titleNum{font-size: 1.4rem;color: #9B9B9B;}
.sectionTitle01 .titleText{font-size: 1.2rem;color: #9B9B9B;}
.sectionConTitle01{height:2.8rem;line-height: 2.8rem;text-align: left;padding-left:4%;font-size: 1.4rem;color: #9B9B9B;padding-top: .5rem;}
.sectionConText01{background-color: #fff;border:1px solid #ddE3E6;}
.txtareaBoxborder{border:1px solid #ddE3E6;}
.headlineBox .headline{height:3.8rem;display: block;width:95%;padding-left:4%;border-bottom: 1px solid #ddE3E6;border-radius:0; outline: none; font-size: 1.4rem;color: #4A4A4A;font-family: "微软雅黑";}
.sectionConText01 .headline::-moz-placeholder{font-size: 1.4rem;}
.sectionConText01 .headline::-webkit-input-placeholder{font-size: 1.4rem;}
.uploadImg{height: 15rem;vertical-align: middle;}
.uploadBtn{width:8rem;margin-top:4rem;}
.txtareaBox{padding: 1rem;background-color: #fff;}
.txtareaBox textarea{resize: none;width:100%;height:6rem;font-family: "微软雅黑";outline: none;font-size: 1.4rem;color: #4A4A4A;}
.txtareaBox textarea::-webkit-input-placeholder{font-size: 1.4rem;color: #9B9B9B;}
.timeBox{text-align: center;border-bottom:1px solid #ddE3E6;background-color:#fff;}
.starttimeBox{width:49%;float: left;text-align: center;padding:1rem 0 1rem 0;height:3.5rem;}
.starttimeBox:first-child{border-right: 1px solid #ddE3E6;}
.starttimeBox p a{display: block;font-size: 1.4rem;color: #4a4a4a;}
.timeText{font-size: 1.4rem;color: #4A4A4A;}
.timeNum{font-size: 1.4rem;color: #04CEC2;margin-top:.3rem;}
.sectionConText02{background-color:#fff;border:1px solid #ddE3E6;padding:1rem 0;}
.sectionConText02 img{width: 2.6rem;}
.sectionConText02 h3{font-size: 14px;color: #4A4A4A;font-weight: normal;line-height:1.8rem;}
.sectionConText02 p{font-size: 14px;color: #8F8F8F;font-weight: normal;line-height:1.8rem;}
.sectionTitle01.mb1{margin-bottom: 1rem;}
.timeBox.playTimeBox{border-top:1px solid #ddE3E6;}
.playTimeBox .starttimeBox{line-height: 3.5rem;font-size:1.4rem;color: #4A4A4A;position:relative;}
.playTimeBox .starttimeBox .timeBoxcheck{position:absolute;right:1rem;bottom:1rem;width:2rem;display:none;}
.playTimeBox .starttimeBox:first-child .timeBoxcheck{display:block;}
.playText.sectionTitle01{height: 5.4rem;}
.navCon{border:1px solid #ddE3E6;background-color: #fff;margin-top: 1rem;border-bottom:none;}
.navCon li{height: 4rem;line-height: 4rem;overflow: hidden;}
.li_left{float: left;width:15%;}
.li_left img{width: 2.5rem;margin-top: .5rem;}
.noText.li_right{margin-left:15%;}
.li_right{float: left;width:85%;text-align: left;height:3.9rem; font-size: 1.4rem;color: #4A4A4A;/*border-bottom:1px solid #ddE3E6;*/position: relative;}
.navCon li:last-child .li_right{border-bottom: none;}
.issueBox{height: 4.2rem;margin-top: 2.6rem;background-color: #fff;border:1px solid #ddE3E6;line-height: 4.2rem;position:fixed;bottom:0;left:0;width:100%;text-align:center;}
.issueBtn{width: 14rem;height:2.8rem;border-radius:25rem;background-color: #7024D6;color: #FFFFFF;font-size: 14px;font-family: "微软雅黑";}
.cityBox span{float: left;display: block;width:19%;line-height: 3.8rem;font-size: 1.4rem;color: #4A4A4A;}
.cityBox .headline{float: left;width: 78%;border-bottom: none; text-align: right;padding-right: 3%;padding-left: 0;height: 100%;line-height: 3.8rem;font-size: 1.4rem;color: #4A4A4A;}
.cityBox{border-bottom: 1px solid #ddE3E6;padding-left: 1rem;}
.section_con{margin-bottom:4.2rem;}
.section_con .nolimit{position: absolute;right:.3rem;top:0;font-size: 1.4rem;color: #9B9B9B;}
.section_con .nolimit img{width: .8rem;}
.section_con .nolimit a{position: relative;top: .3rem;margin: 0 .5rem;}
.addMainTextBtn{display: block;}
/*end:首页*/


/*begin添加主要内容*/
.mainText{width: 94%;margin: 0 auto;margin-bottom:4rem;}
.mainTextCon{margin-bottom:6rem;}
.mainText .option_01,.mainText .option_02,.mainText .option_03{border:1px solid #dde3e6;background-color:#fff;margin-top: 1.5rem;}
.mainText .option_03 img{width:100%;}
.mainText .options{position:relative;display:none;}
.mainText .options .delBtn{display:block;position:absolute;left:-.5rem;top:-.5rem;width:1.5rem;}
.mainText .option_02 textarea{font-size:1.4rem;color:#4a4a4a;line-height:1.6rem;width:90%;outline:none;padding: 1rem 5%;}
.mainText .option_01 img.examimg{width:1.5rem;margin:1.2rem .5rem 0 .5rem;}
.mainText .option_01 .imgwrapper{float:left;width:15%;}
.mainText .option_01 input{float:left;height:3.9rem;line-height:3.9rem;font-size:1.4rem;color:#4a4a4a;width:85%;}
.mainTextFooter{width:100%;background-color:#fff;margin-top:2rem;position:fixed;bottom:0;left:0;}
.mainTextFooter ul{border:1px solid #ddE3E6;border-bottom:none;}
.mainTextFooter li{float:left;width:33.3%;padding:.5rem 0 .8rem 0;text-align:center;}
.mainTextFooter li img{width:2.5rem;}
.mainTextFooter li a{display:block;}
.mainTextFooter li p{font-size:1.4rem;color:#4a4a4a;}
.bodyMainwrapper.bodywrapper{padding-bottom: 0;padding-top:2rem;padding-bottom:2rem;}
/*input.ui-input-text{width:auto;float:left;}
input.ui-body-c{border:none; background-color:#fff;}
.ui-shadow-inset{box-shadow:none;border:none;background-color:#fff;}
.aSwipeBtn {width:1.5rem;margin: 3px;float: left;font-size: 12px;padding: 0;z-index: 100;border-radius: .5em;float: left;position:absolute!important;left:0;top:0;background:url(../img/del_sm.png) no-repeat 0 0;
}*/
/*end添加主要内容*/


/*begin：发起成功*/
.sucess_wrapper{text-align: center;padding-top: 2rem;position: relative;}
.successImg{width:3rem;margin-bottom: 1rem;}
.successline{position: absolute;right: 1rem;top: 1rem;width: 4rem;}
.publishSuc{font-size: 1.4rem;color:#4A4A4A;margin-bottom: 1.2rem;}
.publishSuccess{font-size: 1.2rem;color: #9b9b9b;line-height: 1.5rem;}
.successBtns{margin-top: 3rem;display: inline-block;}
.successBtns .goSeek{width:12rem;height: 3.4rem;display: block; line-height: 3.4rem;text-align: center; background-color: #fff; border: 1px solid #7024D6;border-radius: 25rem;font-size: 1.4rem;color: #7024D6;outline: none;float: left;margin-right: 2rem;}
.successBtns .goSeek:last-child{margin-right:0;}
/*end：发起成功*/


/*begin:组织人数*/
.organ_wrapper {background-color: #edf0f3;position: relative;}
.section_organ{margin-top: 6rem;border: #dde3e6 1px solid;}
.layerFirst,.layerSecond {border-bottom: #ebeef0 1px solid;background-color: #FFFFFF;}
.layerSecond{border-bottom:none;}
.layerFirst .nolimit,.layerSecond .selfTitle{font-size:1.4rem;color:#4A4A4A;margin-left:1rem;height: 4.2rem;line-height:4.2rem;display: block;float: left;}
.checkImg {width: 2rem;float:right;margin-right: 1rem;margin-top: 1rem;}
.selfNumber {width:65%;font-size: 1.4rem;color:#4a4a4a;float:right;height: 4.2rem;line-height:4.2rem;border:none;outline: none;}
.selfNumber::-webkit-input-placeholder{color: #8E8E93;font-size:1.4rem;}
/*end：组织人数*/


/*begin:玩法*/
.noborderbottom.header_vali{border-bottom:none;}
.searchbtn{position: absolute;right: 1rem;top:.6rem;width:2.2rem;}
.main_section{width: 94%;margin: 0 auto;padding-bottom:1rem;}
.main_banner{padding-top: 1rem;margin-top: 4rem;}
.main_banner img{width:100%;}
.headpic{width:4.8rem;height:4.8rem;border: 0.1481rem solid #fff; border-radius:6rem;background-color: #fff; background-clip:border-box; overflow: hidden; box-shadow: 0 0 0.2rem 0.2rem #fff; position: absolute;left: 50%;margin-left:-2.4rem;top:-2.4rem;}
.headpic img{width: 100%;height: 100%; border-radius:6rem;}
.main_options{position: relative;margin-top:3rem;text-align: center; border: 1px solid #dde3e6;background-color: #fff;}
.options_love{position: absolute;right:1rem;top: 1rem;}
.options_love img{width: 1.3rem;}
.options_love p{font-size: 1.2rem;color: #9b9b9b;}
.options_text{margin-top: 3rem;}
.options_text .person_name{text-align: center;margin-top:.4rem;font-weight:bold;}
.options_text .person_name p{font-size:1.4rem;display: inline-block; color: #4a4a4a;border-bottom: 1px solid #eef1f2;}
.options_text .person_positon{font-size:1.2rem;color: #9B9B9B;margin-top:.4rem;}
.options_text .infor_con{font-size:1.6rem;color: #4a4a4a;margin-top:.8rem;}
.options_nav{border-top:1px solid #eef1f2;margin-top: 2rem;}
.options_nav li{width: 33%;float: left;line-height: 3rem;}
.options_nav li img{height: 1.3rem;}
.options_nav li span{position:relative;top: -.2rem;margin-left: .5rem;font-size: 1.2rem;color: #9B9B9B;}
/*end:玩法*/


/*begin:定价格*/
.header_vali{z-index:5;}
a.cancelBtn{position: absolute;left: 1rem;top:0;font-size: 1.4rem;color: #7024D6;}
.section_price{margin-top:4rem;padding-top:1rem;}
.price_con_wrapper{text-align:center;}
.price_con{width:94%;margin:0 auto;border:1px solid #dde3e6;background-color:#fff;position:relative;}
.price_title.bdBottom{border-bottom:1px solid #dde3e6;}
.price_title span{display:block;float:left;width:15%;line-height:48px;padding-left:5%;font-size:1.4rem;color:#4a4a4a;text-align:left;}
.price_title input{display:block;float:left;width:80%;height:48px;line-height:48px;outline:none;font-size:1.4rem;color:#4a4a4a;}
.price_title input::-webkit-input-placeholder{text-align:left;font-size:1.4rem;color:#9b9b9b;}
.price_textarea{padding:1rem;}
.price_textarea textarea{border:none;outline:none;width:100%;font-size:1.4rem;color:#4a4a4a;font-family:"微软雅黑";height:10rem;}
.price_textarea textarea::-webkit-input-placeholder{text-align:center;font-size:1.4rem;color:#9b9b9b;}
.addPriceCon{margin-top:1rem;width:13rem;height:3rem;line-height:2rem;margin-bottom:3.5rem;outline:none;border-radius:20rem;color:#7024D6;font-size:1.4rem;border:1px solid #7024D6;background-color:#fff;}
.price_con_add .price_con{margin-top:1rem;}
.price_con .delBtn{position:absolute;left:-.5rem;top:-.5rem;display:none;width:1.8rem;}
.price_con_add .delBtn{display:block;}
.navBottom{background-color:#fff;padding:.5rem 0;position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #ddE3E6;}
.navBottom ul li{width:20%;float:left;text-align:center;}
.navBottom ul li p{font-size:1.2rem;color:#9b9b9b;}
.navBottom ul li.active p{color:#7024d6;}
.navBottom ul li img{width:2.4rem;}
.navBottom ul li.limid img{width:3.8rem;}
.main_section_Main{margin-bottom:6rem;}
/*end:定价格*/


/*begin:消息*/
.love_wrapper .tab-nav{height:4.6rem;line-height:4.6rem;background-color:#fff;position:fixed;left:0;top:0;width:100%;z-index:60;}
.love_wrapper .tab-nav a{width:50%;text-align:center;display:block;float:left;font-size:1.4rem;position:relative;font-size:1.6rem;color:#9B9B9B;}
.love_wrapper .tab-nav a img{position:relative;width:.5rem;top:-.8rem;margin-left:1rem;display:none;}
.love_wrapper .tab-nav a.active img{display:inline-block;}
.love_wrapper .tab-nav a.active{font-size:1.6rem;color:#7024D6;border-bottom:2px solid #7024D6;}
/*.love_wrapper .tab-nav a:first-child{width:49%;border-right:1px solid #d3d3d3;}*/
.love_wrapper .tab-con{background-color:#fff;}
.love_wrapper .tab-con li{/*height:5.4rem;*/border-bottom:1px solid #DDE3E6;}
.love_wrapper .tab-con li .li_left{float:left;width:16%;position:relative;padding-left:4%;vertical-align:middle;}
.li_left .msgnum{width:1.3rem;border-radius:50%;background-color:red;color:#fff;text-align:center;height:1.3rem;line-height:1.3rem;display:block;position:absolute;right:-.2rem;top:.5rem;}
.love_wrapper .tab-con li .li_left img{width:100%;border-radius:50%;margin-top:.5rem;}
/*.love_wrapper .tab-con li .li_left .line{width:1px;height:100%;display:inline-block;vertical-align:middle;background-color:red;}*/
.love_wrapper .tab-con li .li_right{float:left;width:75%;padding:.6rem 0;line-height:2rem;margin-left:4%;}
.li_right_option01 .title{font-size:1.6rem;color:#4a4a4a;}
.li_right_option01 .time{float:right;margin-right:1rem;font-size:1.4rem;color:#9b9b9b;}
.li_right_option02{font-size:1.4rem;color:#9b9b9b;}
.tab_con_main{border:1px solid #d3d3d3;border-bottom:none;margin-top:4.6rem;overflow:auto;}
/*end:消息*/
 

/*begin:分享评价*/
.header_bg{height:4rem;line-height:4rem;background-color:#424242;}
.header_bg p{color:#fff;font-size:1.4rem;text-align: center;}
.headpic_box{height:11.5rem;position: relative;text-align: center;width: 13rem;margin: 0 auto;border-bottom: 1px dashed #d3d3d3;}
.headpic_box .bigpic{position:absolute;left:50%;top:38%;width:6rem;margin-left: -3rem;height:6rem;margin-top: -3rem;border: .2rem solid #fff; border-radius:6rem;}
.headpic_box .smallpic{position:absolute;left:74%;top:50%;width:3rem;margin-left: -1.5rem;height: 3rem;margin-top: -1.5rem;border: .2rem solid #fff; border-radius:6rem;}
.headpic_box .bigpic img{width:100%;border-radius:6rem;}
.headpic_box .smallpic img{width:100%;border-radius:6rem;}
.imgtext{position: relative;top:73%;font-size: 1.4rem;color: #4A4A4A;}
.star_box{text-align: center;padding-top: 1rem;}
.star_box .txt_01{font-size: 1.4rem;color: #9B9B9B;}
.starlist{margin-top:1.8rem;}
.starlist img{width:2rem;margin-right:.3rem;}
.star_box .txt_02{padding: 0 1rem;text-align: left;margin-top: 1rem;font-size: 1.4rem;color: #4A4A4A;line-height:2rem;}
a.playdetail{width:12rem;height: 3rem;line-height: 3rem;text-align: center;border:1px solid #7024D6;border-radius:20rem;display: inline-block;margin-top: 3rem;font-size: 1.6rem;color: #7024D6;}
.footerimg{width: 100%;margin-top: 3rem;text-align: center;background-color: #EDF0F3;border-top: 1px solid #DDE3E6;position:fixed;bottom:0;left:0;}
.footerimg img{width:55%;padding:.8rem 0; margin:0 auto;}
.footerimg a{display:block;}
.section_evacon{margin-bottom:6rem;}
/*end:分享评价*/


@media only screen and (min-width:374px) and (max-width:415px) {
    .love_wrapper .tab-con li .li_left img{margin-top:.2rem;}
    .love_wrapper .tab-con li{padding:.1rem 0;}
}


/*begin:评价页面*/
.headest_box.headpic_box{border-bottom:none;height:10rem;}
.headest_box .bigpic{width:5rem;height:5rem;margin-top:-2.5rem;margin-left: -2.5rem;}
.headest_box .imgtext{font-size:1.6rem;}
.starest_box.star_box{padding-top:0;}
.starest_box .txt_01{margin-bottom: 1rem;}
.starest_box .txt_03{font-size: 1.4rem;color: #9B9B9B;padding:0 2rem;border-top:1px solid #d3d3d3;display: inline-block;padding-top:1rem;}
.starestlist.starlist{margin-top:1.2rem;}
.txtrea_est{width:92%;margin: 0 auto;border:1px solid #D3D3D3;border-radius:.5rem;margin-top:1.2rem;}
.txtrea_est textarea{padding:1rem 2%;width: 90%;outline:none;height:8rem;}
a.playest{width:12rem;height: 3rem;line-height: 3rem;text-align: center;border-radius:20rem;display: inline-block;margin-top:1.8rem;font-size: 1.6rem;background-color:#7024D6;color: #fff;}
/*end:评价页面*/

/*begin:评价成功页面*/
.section_estisuc{text-align: center;margin-top:1.7rem;}
.estisuc_img{width: 3rem;}
.section_estisuc .succ_txt01{font-size: 1.6rem;color: #4A4A4A;margin-top:.6rem;margin-bottom:1.4rem;}
.section_estisuc .succ_txt02,.section_estisuc .succ_txt03{font-size:1.4rem;color: #9B9B9B;}
.section_estisuc .playdetail{margin-top: 2rem;font-size: 1.4rem;}
.estisuc_img2{width:12rem;}
.section_estisuc .succ_txt01.applysucc_txt01{margin-top:1.6rem;}
.section_estisuc .succ_txt04{font-size:1.4rem;color: #4A4A4A;margin-top:3.6rem;}
/*end:评价成功页面*/






